<div id="container-root">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="container">
    <div class="nav">
      <app-side-nav></app-side-nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
